<h1 class="mb-5">投稿一覧</h1>

<% @posts.each do |post| %>
<div class="card mb-3">
  <div class="card-body">
    <h6 class="card-subtitle mb-2"><%= post.body %></h6>
    <p class="card-text mt-4 mb-0">
        <% if user_signed_in? %>
        <%= link_to "編集", edit_post_path(post), class:"btn btn-primary"%>
        <%= link_to "削除", post_path(post),
        method: :delete, data:{ confirm: "削除しますか？" }, 
        class:"btn btn-danger"%>
        <% end %>
      <span class="float-right">
        更新日時：<%= post.updated_at.strftime("%Y/%m/%d %H:%M") %>
      </span>
    </p>
  </div>
</div>
<% end %>